<div>
  Order by
  <%= link_to "Votes", order_for_scoped_search(:votes_count) %> |
  <%= link_to "Point", order_for_scoped_search(:votes_point) %>
</div>

<div id="question-list">
	<%= render :partial => :question, :collection => @questions %>
</div>
