<div>
  <%= link_to "Votes", order_for_scoped_search(:votes_c) %> &nbsp;|&nbsp;
  <%= link_to "Point", order_for_scoped_search(:votes_p) %> &nbsp;|&nbsp;
  <%= link_to "Answers", order_for_scoped_search(:answers_count) %>
  
</div>

<div id="question-list">
	<%= render :partial => :question, :collection => @questions %>
</div>
